.popup__content {
    position: relative;
    width: 430px;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 37px; 
  }
  
  @media screen and (max-width: 630px) {
    .popup__content {
      width: 282px;
      padding-bottom: 25px; 
    }
  }  