.header {
    max-width: 880px;
    padding-bottom: 41px;
    display: flex;
    flex-direction: column;
    margin: 45px auto 40px auto;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  }
  
  @media screen and (max-width: 900px) {
    .header {
      max-width: 610px;
    }
  }
  
  @media screen and (max-width: 630px) {
    .header {
      max-width: 320px;
      padding-bottom: 32px;
      margin: 28px auto 42px auto;
    }
  }