.content {
    max-width: 880px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 900px) {
    .content {
      max-width: 610px;
    }
  }
  
  @media screen and (max-width: 630px) {
    .content {
      max-width: 320px;
    }
  }  