.footer__text {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #545454;
    margin: 0;
  }
  
  @media screen and (max-width: 630px) {
    .footer__text {
      font-size: 14px;
    }
  }