.popup__button-close {
    position: absolute;
    background-image: url(../../../images/close_btn.svg);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    margin-bottom: 8px;
    border: none;
    top: -40px;
    right: -40px;
    cursor: pointer;
  }
  
  .popup__button-close:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  
  @media screen and (max-width: 630px) {
    .popup__button-close {
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
      margin-bottom: 16px;
      top: -36px;
      right: 0px;
    }
  }  