.profile__info {
    max-width: 366px;
    padding-left: 30px;
    padding-top: 31px;
    box-sizing: border-box;
  }
  
  @media screen and (max-width: 630px) {
    .profile__info {
      max-width: 282px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      margin: 0 auto;
    }
  }