.profile__button_type_edit {
    width: 24px;
    height: 24px;
    background-image: url(../../../../images/edit.svg);
    background-size: 10px 10px;
    border-color: transparent;
    border: 1px solid #fff;
    margin-left: 18px;
    align-self: center;
    margin-bottom: 1px;
  }
  
  @media screen and (max-width: 630px) {
    .profile__button_type_edit {
      width: 18px;
      height: 18px;
      background-size: 8px 8px;
      margin: 0 0 6px 0;
     }
  }