.element__button-like {
  width: 22px;
  height: 19px;
  margin: 30px 0 0 0;
  background-image: url(../../../images/heart.svg);
  background-size: cover;
  border: none;
  background-color: transparent;
}

.element__button-like:hover {
  cursor: pointer;
  opacity: 0.5;
}