.popup__field {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 358px;
    height: 38px;
    padding: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
  
  .popup__field:nth-child(1) {
    margin: 0 auto 19px auto;
  }
  
  .popup__field:nth-child(2) {
    margin: 0 auto 47px auto;
  }
  
  @media screen and (max-width: 630px) {
    .popup__field:nth-child(2) {
      margin: 0 auto 44px auto;
    }
  }
  
  .popup__field:focus {
    background-color: rgb(252, 247, 247);
  }
  
  @media screen and (max-width: 630px) {
    .popup__field {
      width: 238px;
    }
  } 